
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url(https://previews.123rf.com/images/andyborodaty/andyborodaty1803/andyborodaty180300106/97400699-dirty-texture-of-old-crumpled-brown-paper-paper-textures-crumpled-backgrounds-for-design.jpg);
    padding: 100px 0;
}

.container {
    width: 800px;
    min-height: 500px;
    border: 10px solid white;
    margin: 0px auto;
    background: white;
}
.header {
    display: flex;
    height: 150px;
}

.title-block {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) no-repeat center center / cover;
    color: #fff;
    margin-right: 10px;
}
.title-block::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.title {
    position: relative;
    z-index: -1;
}

.userpic {
    display: flex;
    height: 100%;
    width: 20%;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRrDZzu8Zp_5N_9ojR9uzTebaZy_ay3qEDJA&usqp=CAU) no-repeat center center / cover;
}

.nav ul {
    display: flex;
    background: rgb(230, 230, 230);
    margin: 10px 0;
}

.nav li {
    
}

.nav li a {
    padding: 20px;
    display: flex;
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    border-right: 1px solid #d1d1d1;
    transition: background 0.3s ease;
}

.nav li a:hover {
    background: rgb(196, 196, 196);
}


.content-wrapper { 
    display: flex;

}

.content {
    width: 70%;
    padding: 20px;
}

.content p {
    line-height: 20px;
}

.sidebar {
    padding: 20px;
    width: 30%;
    
}

.skills li {
    margin: 10px 0;
    transition: transform .5 ease;
    cursor: pointer;
    padding: 5px 0;
}

.skills li:hover {
    transform: translateX(10px);
}